.EditProfilePage {
  padding: 7rem 0;

}

.edit-profile-form {
  padding: 2rem;
  width: 80%;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 1vw auto;
}

.EditProfilePage h2 {
  font-weight: 300;
  font-size: 2rem;
}

.EditProfilePage label {
  display: inline-block;
  padding-top: 2rem;
  width: 100%;
}

.EditProfilePage input {
  width: 100%;
  text-align: center;
}

.EditProfilePage textarea {
  width: 100%;
  text-align: center;
}
