/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

.HomePage {
  padding: 3rem 0;
}

.header-top {
  height: 400px;
  width: 100%;
  padding: 4rem 0;
  background-color: #fffcf0;
  box-shadow: 0 2px 5px rgba(91, 91, 91, 0.1);
}

.header-visual {
  height: 300px;
}

.headline {
  padding: 6rem 3rem 1rem 3rem;
  font-weight: 800;
  
}

