/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

.header-top {
  height: 600px;
  /* background-image: url("../../public/images/tandem-header.png");
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 8rem 0 7rem 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fffcf0;
  box-shadow: 0 2px 5px rgba(91, 91, 91, 0.1);
}

.header-visual {
  height: 300px;
}

.headline {
  padding: 6rem 0 1rem 0;
  font-weight: 800;
}

.header-top-button {
  color: white;
  background-color: #c7a099;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
}

.card-height {
  height: 500px;
}

.card-img-height {
  height: 300px;
}

.homepage-button {
  color: white;
  background-color: #768bad;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
}

.homepage-button-sec {
  color: #768bad;
  background-color: transparent;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #768bad;
}
