/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

.MyProfilePage {
  padding: 4rem;
}

.profile-details {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 90%;
  margin: 4vh auto;
  padding: 2rem 1rem;
}

.my-details {
  margin: 1rem 1rem 3rem 1rem;
}

.my-details img {
  border-radius: 50%;
  margin: 1rem 0;
  border: 3px solid #c7a099;
  width: 30%;
}

.user-quote {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.skills-summary {
 margin: 1rem 1rem 2rem 1rem;
}

.skill-icon {
  font-size: 1rem;
}

.MyProfilePage li {
  list-style: none;
}

.skills-summary ul {
  padding-left: 0;
}

.my-friends {
  padding: 4rem 1rem 0 1rem;
}

.my-friends img {
  border-radius: 50%;
  width: 60%;
}

.friend-name{
  margin-top: 1.5rem;
  line-height: 0.5rem;
}

.link-to-profile {
  color: #9a756e;
 font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.link-to-profile:hover {
  color: #F87270
}