.LoginPage,
.SignupPage {
  padding: 7rem 0;
}

.form-box {
  margin: 2vh auto;
  height: auto;
  width: 70%;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-box-left {
  padding: 2rem 3rem;
}

.form-box-right {
  background-color: #fffcf0;
  padding: 2rem 0.8rem;
}
