/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

.SkillsPage {
  padding: 7rem 0;
}

.SkillsPage h5 {
  font-weight: 800;
}

.skills-page-header{
  margin-bottom: 3rem;

}
.my-skills-summary ul {
  padding-left: 5;
}

.SkillsPage li {
  list-style: none;
}

.search-skills {
  font-size: 0.8rem; 
  width: 20%;
}

.my-skills {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1.5rem;
  block-size: fit-content;
  width: 25%;
  position: fixed;
}

.delete-x {
  font-size: 0.8rem;
  padding-left: 7px;
  color: #cabfbd
}

.delete-x:hover {
  color:#F87270
}

.skill-title {
  text-align: right;
  font-size: 0.8rem;
}

.skills-icon {
  font-size: 1rem;
  color: #656565;
}

.button-learn {
  color: #abb490;
  background-color: transparent;
  text-decoration: none;
  font-size: 0.5rem;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #abb490;
}

.button-learn:hover {
  color: white;
  background-color: #abb490;
}

.button-teach {
  color: #C7A099;
  background-color: transparent;
  text-decoration: none;
  font-size: 0.5rem;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #C7A099;
}

.button-teach:hover {
  color: white;
  background-color: #C7A099;
}

.skill-category {
  margin-bottom: 1rem;
}

.create-new-link {
  color: #F87270;
  background-color: transparent;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 1000;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
