.SkillsPage {
  padding: 7rem 0;
}

.skills-page-header{
  margin-bottom: 2rem;

}
.my-skills-summary ul {
  padding-left: 5;
}

.SkillsPage li {
  list-style: none;
  font-size: 0.9rem;
}

.search-skills {
  font-size: 0.8rem; 
  width: 30%;
}

.my-skills {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
  block-size: fit-content;
  margin-top: 1rem;
}

.delete-x {
  font-size: 0.8rem;
  padding-left: 7px;
  color: #cabfbd
}

.delete-x:hover {
  color:#F87270
}

.skill-title {
  text-align: left;
  font-size: 0.9rem;
  height: 1.8rem;
}

.skills-icon {
  font-size: 1rem;
  color: #656565;
}

.button-learn {
  color: #abb490;
  background-color: transparent;
  text-decoration: none;
  font-size: 0.6rem;
  padding: 4px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #abb490;
}

.button-learn:hover {
  color: white;
  background-color: #abb490;
}

.button-teach {
  color: #C7A099;
  background-color: transparent;
  text-decoration: none;
  font-size: 0.6rem;
  padding: 4px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #C7A099;
}

.button-teach:hover {
  color: white;
  background-color: #C7A099;
}

.skill-category {
  margin-bottom: 1rem;
}
