.UserProfilePage {
  padding: 7rem;
}

.users-details {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 60%;
  margin: 5vh auto;
  text-align: left;
  padding: 4rem;
}

.users-details img {
  border-radius: 50%;
  width: 150px;
  margin-top: 2rem;
}

.users-quote {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 2rem 0;
}

.users-details-button {
  color: #c7a099;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #c7a099;
  width: 50%;

}

.users-details-button-sec {
  color: white;
  background-color: #c7a099;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #c7a099;
}

.skills-summary ul {
  padding-left: 5;
}

.UserProfilePage li {
  list-style: none;
}

.skills-summary ul li:before {
  content: "- ";
}
