/* colors
ivory: #FFFCF0
green: #808661
darkgreen: #3f4230
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

/* .Header {
  background-color: #d1cdaf;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
} */

#bs-override .header {
  background-color: #d1cdaf;
  padding: 0.5rem 6rem;
  position: fixed;
   /* top: 0; */
  z-index: 10;
  width: 100%;
}

#bs-override .navbar-brand {
  font-weight: 800;
  color: #808661;
}

#bs-override .header-link {
  color: #808661;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#bs-override .header-button {
  color: white;
  background-color: #808661;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 2px solid #808661;
}

#bs-override .header-button:hover {
  background-color: #3f4230;
  border: 2px solid #3f4230;
  color: white;
}

#bs-override .header-button-sec {
  color: #808661;
  background-color: transparent;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #808661;
}

#bs-override .header-button-sec:hover {
  color: #3f4230;
  border: 1px solid #3f4230;
  font-weight: 800;
}

.user-name {
  font-size: 0.8rem;
  color: #808661;
   padding: 0.6rem 0;
}

.Footer {
  background-color: #808661;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 1rem 5rem;
  text-align: center;
  z-index: 10;
}
