.UserCards {
  margin: 0 3rem;
}
.users-summary {
  padding: 5rem 0;
}

.user-card {
  position: relative;
  height: 430px;
  margin: 1.5rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: center;
}

.user-card-img img {
  border-radius: 50%;
  padding: 1rem;
  width: 150px;
}

.username {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(219, 217, 217);
  text-transform: uppercase;

}

.user-skills {
  font-size: 0.8rem;
  line-height: 0.6rem;
}

#skills-icon {
  font-size: 0.8rem;
}



