/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: #F87270
brown: #A4614A
*/

@import url("https://fonts.googleapis.com/css?family=Poppins");
@media (min-width: 1200px) {
    .container{
        max-width: 1024px;
    }
}

.App {
  font-family: "Poppins", Verdana, Geneva, sans-serif;
  background-color: white;
  height: 100vh;
  color: #323232;
  text-align: center; 
}

a,
a:hover {
  text-decoration: none;
}

.Link, Link:active {
  color: #323232;
}

li {
  list-style: none;
}

ul {
  padding-left: 5;
}

input {
  border: none;
  border-bottom: 1px solid rgb(188, 188, 188);
  padding: 0.4rem;
  background-color: #fffcf0;
  font-size: 0.8rem;
  width: 100%;

}

label {
  padding: 1rem 0;
  width: 100%;
}

.button-prim {
  color: white;
  border: 1px solid #c7a099;
  background-color: #c7a099;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0.3rem
}

.button-prim a, .button-prim:active {
  color: white;
}

.button-prim:hover {
  background-color: #9a756e;
  border: 1px solid #9a756e;
   color: white;
}

.button-sec {
  color: #c7a099;
  border: 1px solid #c7a099;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
}

.button-sec a {
  color: #c7a099;
}

.button-sec:hover {
  color: #9a756e;
  border: 1px solid #9a756e;
}

.button-prim-pink {
  color: white;
  border: 1px solid #F87270;
  background-color: #F87270;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0.3rem
}

.button-prim-pink a, .button-prim-pink:active {
  color: white;
}

.button-prim-pink:hover {
  background-color: #F87270;
  border: 1px solid #F87270;
   color: white;
}

.button-margin-top {
  margin-top: 1.5rem;
}

.more-link {
  color: #9a756e;
 font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.more-link:hover {
  color: #F87270
}
.border-bottom {
  border-bottom: 1px solid rgb(203, 199, 199);
  padding: 0.5rem 0;
}

