/* colors
ivory: #FFFCF0
green: #808661
blush: #C7A099
black: #323232
pink: # F87270
brown: #A4614A
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.App {
  text-align: center;
  font-family: "Open Sans", Verdana, Geneva, sans-serif; 
  background-color: white;
  height: 100vh;
  color: #323232;
}

a, a:hover {
  color: #323232;
  text-decoration: none;
}

.button {
  border: none;
}

.Link, Link:active{
  color: #323232
}

input {
  border: none;
  border-bottom: 1px solid rgb(188, 188, 188);
  padding: 0.4rem;
  background-color: #FFFCF0;

}
